<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}Just another helpful site</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}Just another helpful site{% endif %}">
    <meta name="author" content="John Doe">
    <meta property="og:image" content="{% if ogimage %}{{ ogimage }}{% else %}http://dummyimage.com/800x600/303538/ffffff&text=Screw%20your%20social%20network{% endif %}">
    <link rel="icon" type="image/png" href="{% if icon %}{{ icon }}{% else %}{{ site_root }}assets/icon.png{% endif %}">
    <link rel="stylesheet" type="text/css" href="{% if style %}{{ style }}{% else %}{{ site_root }}assets/style.min.css{% endif %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400">
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% if script %}{{ script }}{% else %}{{ site_root }}assets/script.min.js{% endif %}"></script>
  </body>
</html>