/* =======================================================================
 * additional styles
 * ======================================================================= */

.post-template .post-border {
  border-bottom: #ebf2f6 1px solid;
}

/* =======================================================================
 * code block styles
 * ======================================================================= */

pre {
  padding: 20px 20px;
  font-size: .7em;
  line-height: 1.4em;
  border: 0;
  background-color: #202020;
}

.highlight ol {
  margin: 0 -10px;
}