/* =======================================================================
 * additional styles
 * ======================================================================= */

.post-template .post-border {
  border-bottom: #ebf2f6 1px solid;
}

/* =======================================================================
 * code block styles
 * ======================================================================= */

 .code-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.highlighttable {
  width: 100%;
  margin-bottom: 0;
  font-size: 0.85em;
  line-height: 1.45em;
  background-color: #202020 !important;
  border-radius: 3px;
}

.highlighttable td {
  border: 0;
}

pre,
.highlighttable td,
.highlight {
  border: 0;
  background-color: #202020 !important;
  border-radius: 3px;
}

.highlighttable td:first-child {
  padding: 5px 20px;
}
