/* =======================================================================
 * Sticky footer
 * ======================================================================= */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #555;
}

/* =======================================================================
 * Other
 * ======================================================================= */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.container h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */