{% extends "layouts/default.html" %}

{% block body_class %}home-template{% endblock %}

{% block content %}
  {% include "partials/header.html" %}
  <main class="content" role="main">
    {% include "partials/posts.html" %}
    {% if paginate %}
      <nav class="pagination" role="navigation">
        {% if prev_page %}
          <a class="newer-posts" href="{{ prev_page }}">&larr; Newer Posts</a>
        {% endif %}
        <span class="page-number">Page {{ current_page }} of {{ page_count }}</span>
        {% if next_page %}
          <a class="older-posts" href="{{ next_page }}">Older Posts &rarr;</a>
        {% endif %}
      </nav>
    {% endif %}
  </main>
  {% include "partials/footer.html" %}
{% endblock %}
