{% extends "layouts/default.html" %}

{% block content %}
  {% include "partials/header.html" %}
  <main class="content post-template" role="main">
    <article class="post">
      <span class="post-meta"><time datetime="{{ date.strftime('%Y-%m-%d') }}">{{ date.strftime('%d %b %Y') }}</time></span>
      <h1 class="post-title"><a href="{{ link }}">{{ title }}</a></h1>
      <section class="post-excerpt">
        {{ content }}
      </section>
    </article>
    <nav class="pagination" role="navigation">
      {% if prev_post %}
        <a class="newer-posts" href="{{ prev_post }}">&larr; Previous Post</a>
      {% endif %}
      <span class="page-number"></span>
      {% if next_post %}
        <a class="older-posts" href="/page/3/">Next Post &rarr;</a>
      {% endif %}
    </nav>
  </main>
  {% include "partials/footer.html" %}
{% endblock %}