{% extends "layouts/default.html" %}

{% block content %}
  {% include "partials/header.html" %}
  <main class="content post-template" role="main">
    <article class="post">
      <span class="post-meta">
        <time datetime="{{ date.strftime('%Y-%m-%d') }}">{{ date.strftime('%d %b %Y') }}</time>
        {% if categories %}
          in
          {% for category in categories %}
            <a href="{{ category.link }}">{{ category.name|capitalize }}</a>
            {%- if not loop.last -%}
              ,
            {% endif %}
          {% endfor %}
        {% endif %}
      </span>
      <h1 class="post-title">{{ title }}</h1>
      <section class="post-excerpt">
        {{ content }}
      </section>
    </article>
    <nav class="pagination" role="navigation">
      {% if prev_post %}
        <a class="newer-posts" href="{{ prev_post }}">&larr; Previous Post</a>
      {% endif %}
      <span class="page-number"></span>
      {% if next_post %}
        <a class="older-posts" href="{{ next_post }}">Next Post &rarr;</a>
      {% endif %}
    </nav>
  </main>
  {% include "partials/footer.html" %}
{% endblock %}